<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>2017</string>
	<string>2016</string>
	<string>2015</string>
	<string>2014</string>
	<string>2013</string>
	<string>2012</string>
	<string>2011</string>
	<string>2010</string>
</array>
</plist>
