<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>catname</key>
		<string>跑车</string>
		<key>image</key>
		<string>icon_00</string>
		<key>ids</key>
		<string>4</string>
	</dict>
	<dict>
		<key>catname</key>
		<string>轿车</string>
		<key>image</key>
		<string>icon_01</string>
		<key>ids</key>
		<string>5</string>
	</dict>
	<dict>
		<key>catname</key>
		<string>SUV</string>
		<key>image</key>
		<string>icon_02</string>
		<key>ids</key>
		<string>6</string>
	</dict>
	<dict>
		<key>catname</key>
		<string>个性车</string>
		<key>image</key>
		<string>icon_03</string>
		<key>catid</key>
		<string>7</string>
	</dict>
	<dict>
		<key>catname</key>
		<string>摩托车</string>
		<key>image</key>
		<string>icon_04</string>
		<key>catid</key>
		<string>8</string>
	</dict>
	<dict>
		<key>catname</key>
		<string>MPV</string>
		<key>image</key>
		<string>icon_05</string>
		<key>catid</key>
		<string>9</string>
	</dict>
	<dict>
		<key>catname</key>
		<string>收藏</string>
		<key>image</key>
		<string>icon_06</string>
		<key>catid</key>
		<string>17</string>
	</dict>
	<dict>
		<key>catname</key>
		<string>最近游览</string>
		<key>image</key>
		<string>icon_07</string>
		<key>catid</key>
		<string>18</string>
	</dict>
	<dict>
		<key>catname</key>
		<string>特价</string>
		<key>image</key>
		<string>icon_08</string>
		<key>catid</key>
		<string>19</string>
	</dict>
</array>
</plist>
